 <div class="cards">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)">
          <%= list.name.capitalize %>
        </div>
      <% end %>
     <% end %>
  </div>


  <%= link_to "Create a new list", new_list_path(@list), class: "bouton" %>
