// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333237;
$light-gray: #ebded7;
$logo-green: #ADD4D3;
$logo-orange: #FB8351;
