.bouton-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.bouton {
  text-align: center;
  color: white;
  background-color: $logo-orange;
  border-radius: 12px;
  padding: 16px;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  transition: ease-in-out 0.5s;

  &:hover {
    opacity: 0.8;
    color: $light-gray;
  }
}
